<h1>Home Page</h1>
<p>Welcome to this website!</p>
<div class="qoute"><%= image_tag("quote1.png", :size => '510x200') %></div>

<div class="box"><p class="script">Ready to help your students reach their full potential?</p></div>
