<h1>Home Page</h1>
<p>Welcome to this website!</p>
<div class="holder">
<div class="qoute"><%= image_tag("quote1.png", :size => '610x250') %></div>
</div>
<div class="box"><div class="hands"><%= image_tag("raising_hands.jpg", :size => '610x250') %></div><p class="script">Ready to help students reach their full potential?</p></div>
