<% if current_teacher%>
  <h1>Welcome Teacher:  <%= current_teacher.email %></h1>



<a href="/tests/new">Create Test</a>
<% end %>

<% if current_student %>
  <h1>Welcome  Student: <%= current_student.email %></h1>


  <%= link_to "Link", tests_path %>
<% end %>
