<h1>About Page</h1>

<h2><u>Mission and Vision</u></h2>

<h4><b>Our Vision Statement</b></h4>
<p>To encourage and promote continuous social and academic growth.</p>

<h4><b>Mission Statement for Educators</b></h4>
<p>In partnership with staff, students, family and community, to continually improve programs,
  services, and the performance of students, staff, <br>
  and administration.</p>

<h4><b>Mission Statement for  School</b></h4>
<p>The mission is for all students, staff, and families to work together to continually improve academic performance and citizenship.</p>

<%= link_to "Inspiration", about_show_path %>
<br><%= link_to "Home", root_path %>
