.navbar{
  height: 85px;
  border-bottom: 5px solid;
  background-color: green;
}

.logo{
  margin-top: 1px;
  margin-left: 1px;
  border: 3px solid blue;
  float: left;
}

.homeButton{
  margin-top: 7px;
  margin-left: 15px;
  width: 100px;
  height: 30px;
  border: 4px double blue;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.teacherSignUp{
  margin-top: 7px;
  margin-left: 5px;
  width: 160px;
  height: 30px;
  border: 4px double blue;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.teacherSignIn{
  margin-top: 7px;
  margin-left: 5px;
  width: 160px;
  height: 30px;
  border: 4px double blue;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.teacherSignOut{
  margin-top: 7px;
  margin-left: 5px;
  width: 160px;
  height: 30px;
  border: 4px double blue;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.studentSignUp{
  margin-top: 7px;
  margin-left: 5px;
  width: 160px;
  height: 30px;
  border: 4px double blue;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.studentSignIn{
  margin-top: 7px;
  margin-left: 5px;
  width: 160px;
  height: 30px;
  border: 4px double blue;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.studentSignOut{
  margin-top: 7px;
  margin-left: 5px;
  width: 160px;
  height: 30px;
  border: 4px double blue;
  text-align: center;
  float: left;
  text-transform: uppercase;
}
