.scoreList{
  border: 3px solid;
  width: 970px;
  height: 950px;
  margin-left: 50px;
  background-color: white;
  overflow: scroll;
}

.scoreholder{
  margin-left: 10px;
  margin-top: 10px;
}


.scoreStudentList{
  border: 3px solid;
  width: 970px;
  height: 950px;
  margin-left: 50px;
  background-color: white;
  overflow: scroll;
}


.scoreStudentHolder{
  margin-left: 10px;
  margin-top: 10px;
}

.result{
  border: 3px solid;
  width: 970px;
  height: 150px;
  margin-left: 50px;
  background-color: white;
}

.resultHolder{
  margin-left: 10px;
  margin-top: 10px;
}
