.test{
  border: 3px solid;
  width: 970px;
  height: 950px;
  margin-left: 50px;
  background-color: white;
  overflow: scroll;
}

.testShow{
  margin-left: 10px;
  margin-top: 10px;
}


.testTeacher{
  border: 3px solid;
  width: 970px;
  height: 950px;
  margin-left: 50px;
  background-color: white;
  overflow: scroll;
}

.testShowTeacher{
  margin-left: 10px;
  margin-top: 10px;
}
