<h1>Tests#index</h1>
<p>Find your teacher and subject, then select your test</p>


<%@tests.each do |t|%>
Teacher Name: <%=t.teacher_name%>
<br>Subject: <%=t.subject%>
<br>Grade Level: <%=t.grade_level%>
<br>
  <div><a href="/tests/<%=t.id %>/">Take Test</a></div>
<br>
<%end%>
